# Node modules
node_modules/

# Environment variables
.env
.env.*

# Hardhat build artifacts and cache
/artifacts/
/cache/

# TypeChain generated types
/typechain/
/typechain-types/

# Coverage reports
/coverage/
/coverage.json

# Hardhat Ignition local deployments
ignition/deployments/

# Logs & OS files
*.log
.DS_Store
Thumbs.db

# VSCode & IDE settings
.vscode/
.idea/
*.code-workspace

# Misc
package-lock.json
